{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": true,
        "exclude": [
          "babel-plugin-transform-regenerator",
          "transform-async-to-generator"
        ]
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    ["styled-components", { "ssr": true }],
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "babel-plugin-transform-react-jsx",
    "dynamic-import-node",
    [
      "import-inspector",
      {
        "serverSideRequirePath": true,
        "webpackRequireWeakId": true
      }
    ]
  ]
}
