{
  "presets": ["backpack-core/babel", "flow", ["env", {
    "targets": {
      "node": "current"
    }
  }]],
  "plugins": ["transform-flow-strip-types", "transform-object-rest-spread", "babel-plugin-transform-react-jsx", "syntax-dynamic-import"]
}
