{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": true,
        "exclude": [
          "babel-plugin-transform-regenerator",
          "transform-async-to-generator"
        ]
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    ["styled-components", { "ssr": true }],
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "babel-plugin-transform-react-jsx",
    "syntax-dynamic-import",
    "syntax-async-generators",
    "transform-async-generator-functions",
    "react-loadable/babel",
    "babel-plugin-inline-import-graphql-ast"
  ]
}
