node_modules
.sass-cache
npm-debug.log
build
.DS_Store
src/config/FirebaseConfig.js
npm-debug.log
yarn-error.log
rethinkdb_data
debug
now-secrets.json
build-iris
build-api
build-athena
build-hermes
build-chronos
build-mercury
build-vulcan
build-hyperion
build-electron
package-lock.json
.vscode
dump.rdb
*.swp
queries-by-response-size.js
queries-by-time.js
test-extend.js
stats.json
iris/.env
api/.env
test-results.json
desktop/release
public/uploads
cypress/screenshots/
cypress/videos/
cacert
.env
.env.*
