html,
body {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
}

* {
  border: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

textarea {
  resize: none;
}

::-moz-selection { /* Code for Firefox */
  background: #3818e5;
  color: #ffffff;
}

::selection {
  background: #3818e5;
  color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

body {
  position: relative;
  height: 100%;
  max-height: 100%;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 24px;
  background: #fff;
  color: #171a21;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #B2B9C6;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #B2B9C6;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #B2B9C6;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #B2B9C6;
}

#root {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}

.markdown {
  font-size: 16px;
  line-height: 24px;
  color: #171a21;
}

.markdown > *:first-of-type {
  margin-top: 16px;
}

.markdown > *: last-of-type {
  margin-bottom: 32px;
}

.markdown img {
  margin-top: 16px;
  max-width: 100%;
  display: inline;
  border-radius: 4px;
  transition: all 0.2s;
}

.markdown img:hover {
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.markdown em {
  color: inherit;
  font-size: inherit;
  font-style: italic;
}

.markdown strong {
  color: inherit;
  font-size: inherit;
  font-weight: 700;
}

.markdown p {
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
  font-weight: 400;
}

.markdown span {
  font-size: inherit;
}

.markdown ul,
.markdown ol {
  color: inherit;
  margin: 8px 0;
  margin-left: 16px;
}

.markdown li {
  color: inherit;
  font-size: 16px;
  margin-bottom: 4px;
  line-height: 1.5;
  font-weight: 400;
}

.markdown blockquote {
  color: #747E8D;
  border-left: 4px solid #747E8D;
  padding: 4px 8px 4px 16px;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
  margin: 16px 0;
}

.markdown blockquote p {
  margin-top: 0;
}

.markdown a {
  color: #3818e5;
  font-weight: 500;
  text-decoration: none;
  font-size: inherit;
  word-wrap: break-word;
  line-height: inherit;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown a:visited {
  opacity: .6;
  transition: all 0.2s ease-in;
}

.markdown code {
  font-family: "Input Mono", "Menlo", "Inconsolata", "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background-color: #f6f7f8;
  padding: 2px 4px;
  display: inline;
  width: 100%;
  border: 1px solid #D6E0EE;
  border-radius: 4px;
  margin-bottom: 16px;
}

.markdown pre {
  margin: 16px 0;
  display: block;
}

.markdown pre code {
  padding: 8px 16px;
  display: inline-block;
  white-space: pre-wrap;
}

.markdown code span {
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}

.markdown iframe {
  width: 100%;
  max-height: 60vh;
  margin: 1rem 0;
}

.markdown hr {
  width: 100%;
  height: 1px;
  background: #DFE7EF;
  display: block;
  margin: 32px 0;
}

.markdown h1 {
  font-size: 24px;
  line-height: 40px;
  border-bottom: 1px solid #DFE7EF;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 8px;
}

.markdown h2 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 8px;
}

.markdown h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 8px;
}

.markdown h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 8px;
  text-transform: lowercase;
  font-variant: small-caps;
}

.markdown h5 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 8px;
  text-transform: lowercase;
  font-variant: small-caps;
}

.markdown h6 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 8px;
  text-transform: lowercase;
  font-variant: small-caps;
}
